@import "normalize";

body {
    background: #222;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    z-index: 100;

    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 15px 0;
    background: #000;
    border-bottom: 1px solid #555;
    box-shadow: 0 7px 40px 0px #000;

    transform: translate3d(0, 0, 0);

    transition: all 200ms ease-in-out;

    &.active {
        .menu span {
            width: 23px;

            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    > a {
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #eee;
    }
}

nav > a, section:before {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.menu {
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
    flex: 0;

    > span {
        display: block;
        height: 3px;
        width: 25px;
        margin-bottom: 3px;
        border-top: 2px solid #fff;

        transform-origin: 0 0;
        transition: all 200ms ease-in-out;
    }
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 50px;
}

section {
    width: 50%;
    max-width: 900px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    box-shadow: inset 0 7px 40px 0px #000;
    filter: grayscale(1);

    transform: translate3d(0, 0, 0);
    transition: .3s all ease-in;

    &:before {
        content: attr(title);
        opacity: 0;

        width: 100%;
        height: 20px;
        align-self: flex-end;

        padding: 0 0 35px 25px;

        font-size: 2rem;
        font-weight: 100;
        color: #eee;
        text-shadow: 0 2px #000;

        transform: translate3d(0, 0, 0);
        transition: 1s opacity ease-in;
    }

    &:hover {
        display: flex;

        filter: none;

        transform: translate3d(0, 0, 0);
        transition: .75s all ease-out;

        &:before {
            opacity: 1;

            transform: translate3d(0, 0, 0);
            transition: .75s opacity ease-out;
        }
    }

    &[title="Family"] {
        background-image: url('../images/family.jpg');
    }
    &[title="Weddings"] {
        background-image: url('../images/wedding.jpg');
    }
    &[title="Fine Art"] {
        background-image: url('../images/fineart.jpg');
    }
    &[title="Engagements"] {
        background-image: url('../images/engagements.jpg');
    }
    &[title="Senior Portraits"] {
        background-image: url('../images/seniors.jpg');
    }
    &[title="Children"] {
        background-image: url('../images/children.jpg');
    }
    &[title="Maternity"] {
        background-image: url('../images/maternity.jpg');
    }
    &[title="Special Events"] {
        background-image: url('../images/fineart.jpg');
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 100%;
        filter: none;

        &:hover {
            display: block;
        }

        &:before {
            opacity: 1;
            font-weight: 400;
            position: relative;
            top: 10px;
        }
    }

    nav {
        display: block;
        overflow: hidden;

        &.active {
            height: 155px;
        }

        a {
            padding-left: 10px;
            font-weight: 400;

            &.menu-item {
                display: block;
                padding: 10px;
            }
        }
    }

    #logo + .menu-item {
        border-top: 1px solid #333;
        margin-top: 15px;
    }

    .menu {
         display: block;
    }
}
